*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    gap: 20px;
    vertical-align: bottom;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    color: rgb(91, 91, 91);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
nav ul li a:link {
    color: rgb(91, 91, 91);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:visited { 
    color: #000000;                 
}

nav ul li a:hover {
    color: #e52313;
    text-decoration: underline;
}

nav ul li a:active {
    color: #bf0810;
}


.logostyle{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 350px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.spacerheader {
    border: 1px solid rgb(91, 91, 91);
    width: 950px;
    margin: 0 auto;
    display: block;
}

div.spacerheader{
    padding-top: 10px;
    border: 0px;
}

.historystylecontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.historystyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

div.historystyle {
    padding: 30px;
    margin-top: 60px;
}

section.historystyle {
    padding: 40px;
    padding-left: 0px;
    padding-top: 0px;
    width: 450px;
    height: 600px;
}

p.historystyle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: rgb(91, 91, 91);
    padding-bottom: 15px;
    text-align: justify;
}

#breadimg {
    float: right;
}

.natipancontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.natipan {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

div.natipan {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #e52313;
    width: 890px;
    height: 680px;
    padding: 20px;
}

section.natipan {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.natipan {
    color: white;
    width: 500px;
    font-size: 15px;
    text-align: justify;
}

#p {
    color: white;
    margin-top: 20px;
    width: 500px;
    font-size: 15px;
    text-align: justify;
}

#natipanteamimg {
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
}

#h2style {
    padding: 25px;
    color: #e52313;
    margin-top: 15px;
    font-size: 40px;
    text-align: justify;
}

#h3style {
    padding-left: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 30px;
    text-align: justify;
}

#wearenatipanimg {
    float: right;
    width: 768px;
    height: 658px;
}

#wearecommited {
    float: left;
    width: 768px;
    height: 658px;
}

footer {
    clear: both;
}
.footerstyle {
    background-color: white;
    color: #e52313;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.divfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 291px;
}

