*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    gap: 20px;
    vertical-align: bottom;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    color: rgb(91, 91, 91);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
nav ul li a:link {
    color: rgb(91, 91, 91);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:visited { 
    color: #000000;                 
}

nav ul li a:hover {
    color: #e52313;
    text-decoration: underline;
}

nav ul li a:active {
    color: #bf0810;
}


.logostyle{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 350px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.spacerheader {    
    border: 1px solid rgb(91, 91, 91);
    width: 950px;
    margin: 0 auto;
    display: block;
}

div.spacerheader{
    padding-top: 10px;
    border: 0px;
}
/* PRODUCTS AREA */
.productscontainer {
    display: grid;
    grid-template-rows: 1fr;
    font-family: 'Montserrat', sans-serif;
    place-items: center;
    width: auto;
    height: 1000px;
}

h1 {
    font-size: 35px;
    color: #e52313;
    font-size: bold;
    margin: 0;
}

.bakeryline_container{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 100px;
    place-items: center;
    padding: 40px;
}

.bakeryline_container_style{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 30px;
    width: 1000px;
    column-gap: 20px;
    row-gap: 160px;
}

.bakeryline_style {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    place-items: center;
    width: 200px;
    height: 230px;
    row-gap: 20px;
}

h2 {
    font-size: 17px;
}
.pstyle {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 200px;    
}

.section_1_img {
    width: auto;
    height: 130px;
    margin-bottom: 100px;
}

.section_2_img {
    width: auto;
    height: 230px;
    margin-bottom: 100px;       
}

.bakeryline_section_2 {
    padding-left: 20px;
}

/* FOOTER AREA */
.footerstyle {
    background-color: white;
    color: #e52313;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.divfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 291px;
}