*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}


nav {


    text-align: center;
    padding-top: 10px;

    

}



#anchors {
    
    padding-left: 10px;
    padding-right: 10px;
}

nav ul {

    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li{

    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

nav ul li a{


    text-decoration: none;
    color: rgb(91, 91, 91);
    font-family: 'Montserrat', sans-serif;

}




.logostyle{

    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 350px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.spacerheader {

    
    border: 1px solid rgb(91, 91, 91);
    width: 950px;
    margin: 0 auto;
    display: block;


}

div.spacerheader{

    padding-top: 10px;
    border: 0px;

}

/* Main Page CSS */

#mainimages {

    padding-top: 10px;
}

div.instagrambg {

    background-color:#e52313;
}

.instagrambg_2 {

    background-color: white;
    display: block;
    text-align: center;
    width: 700px;
    margin-left: 400px;


}


.contactstyle {

    background-color:#e52313;
    display: block;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-img,
.contact-text {
    display: inline-block;
    vertical-align: middle; 
    margin-right: 130px;

}

.contact-img {
    width: 230px;
    height: auto;
    margin-right: 20px; 
    
}


.contact-text {
    
    text-align: left;
    text-align: center;
}

.contact-info {

    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;

}

h1.contact-info {
    font-size: 36px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}



.footerstyle {

    background-color: white;
    color: #e52313;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

footer {


    
    padding-top: 145px;
    height: 291px;
    display: block;
    text-align: center;
    clear: both;


    
}

/* About Us CSS */

.historystyle {

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

div.historystyle {

    padding: 30px;
    margin-top: 100px;

}

section.historystyle {

    padding: 40px;
    padding-top: 0px;
    width: 450px;
    height: 600px;
    margin-left: 100px;
}

p.historystyle {

    color: rgb(91, 91, 91);
    padding-bottom: 30px;
    text-align: justify;
}

#breadimg {

    float: right;
}


.natipan {


    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

div.natipan {

    padding: 40px;
    margin-top: 10px;
    color: white;
    background-color: #e52313;
    height: 760px;
}

section.natipan {

    position: absolute;
    width: 700px;
    height: 800px;
    margin-left: 670px;


}

p.natipan {

    color: white;
    margin-left: 20px;
    width: 500px;
    font-size: 15px;
    text-align: justify;

}

#p {

    color: white;
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    font-size: 15px;
    text-align: justify;


}

#natipanteamimg {

    float: left;
    padding-top: 30px;
    padding-left: 20px;
}

#h2style {

    padding: 25px;
    color: #e52313 ;
    margin-top: 15px;
    font-size: 40px;
    text-align: center;
}

#h3style {

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-top: 15px;
    font-size: 30px;
    text-align: justify;

}

#wearenatipanimg {

    float: right;



}

#wearecommited {

    float: left;

    
}


